{
  "extends":"airbnb/base",
  "env": {
    "node":true,
    "es6":true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "script"
  },
  "rules": {
    "no-underscore-dangle": ["error", { "allowAfterThis": true }]
  }
}
